{% from 'include/template-nunjucks.html' import version %}
{% include "include/head.html" %}
<h1 class="page__title">Gallery</h1>
<div class="row gallery">
    <button type="button" data-target="assets/{{version}}/img/banner/1.png" class="gallery__item"
        onclick="gallery.open({target: this,size: 'regular', color: 'white'});" data-description="Gallery black">
        <img src="assets/{{version}}/img/banner/1.png" class="img-responsive" title="" alt="Lorem ipsum" />
    </button>
    <button type="button" data-target="assets/{{version}}/img/banner/2.png" class="gallery__item"
        onclick="gallery.open({target: this, size: 'regular', color: 'white'});" data-description="Gallery white">
        <img src="assets/{{version}}/img/banner/2.png" class="img-responsive" title="" alt="Dolor sit" />
    </button>
    <button type="button" data-target="assets/{{version}}/img/banner/1.png" class="gallery__item"
        onclick="gallery.open({target: this, size: 'big'});"
        data-description="Lorem ipsum dolor sit amet, consecttur adipscing elit. Proin ut ni diam. Nam ini pretium ligulas. Integersda dapibusa id quam non prium! Suspendisse sodalesa efficiturd nullsa, eta elementumds dui consequat eu. Curabituras interd augue, at dictuquam ullamcorperat.">
        <img src="assets/{{version}}/img/banner/1.png" class="img-responsive" title="" alt="Consecttur adipscing" />
    </button>
    <button type="button" data-target="assets/{{version}}/img/banner/2.png" class="gallery__item"
        onclick="gallery.open({target: this, size: 'small', color: 'red'});">
        <img src="assets/{{version}}/img/banner/2.png" class="img-responsive" title="" alt="Dolor sit" />
    </button>
</div>
<h2 class="page__title">Gallery II</h2>
<div class="row gallery">
    <button type="button" data-target="assets/{{version}}/img/banner/2.png" class="gallery__item"
        onclick="gallery.open({target: this, size: 'regular', color: 'white'});" data-description="Gallery white">
        <img src="assets/{{version}}/img/banner/2.png" class="img-responsive" title="" alt="Dolor sit" />
    </button>
    <button type="button" data-target="assets/{{version}}/img/banner/1.png" class="gallery__item"
        onclick="gallery.open({target: this, size: 'extra-big'});"
        data-description="Lorem ipsum dolor sit amet, consecttur adipscing elit. Proin ut ni diam. Nam ini pretium ligulas. Integersda dapibusa id quam non prium! Suspendisse sodalesa efficiturd nullsa, eta elementumds dui consequat eu. Curabituras interd augue, at dictuquam ullamcorperat.">
        <img src="assets/{{version}}/img/banner/1.png" class="img-responsive" title="" alt="Consecttur adipscing" />
    </button>
    <button type="button" data-target="assets/{{version}}/img/banner/2.png" class="gallery__item"
        onclick="gallery.open({target: this, size: 'extra-small', color: 'red'});">
        <img src="assets/{{version}}/img/banner/2.png" class="img-responsive" title="" alt="Dolor sit" />
    </button>
</div>
{% include "include/footer.html" %}