{% include "include/head.html" %}
<h1 class="page__title">Modal</h1>
<div class="row button-wrapper center">
    <button type="button" class="button button--regular button--blue"
        onclick="window.modal.open({'title': 'Lorem ipsum', 'content': '<p>Lorem ipsum dolor sit amet, consecttur adipscing elit.</p><p>Proin ut ni diam. Nam ini pretium ligulas. Integersda dapibusa id quam non prium!</p>', 'size': 'small'});">
        Modal text
    </button>
    <button type="button" class="button button--regular button--blue"
        onclick="window.modal.open({'kind': 'ajax', 'content': './modal-ajax.html', 'size': 'regular'});">
        Modal ajax
    </button>
</div>
{% include "include/footer.html" %}