{% from 'include/template-nunjucks.html' import version, arrSize, arrColor %}
{% include "include/head.html" %}
<h1 class="page__title">Notification</h1>
<div class="button-wrapper center">
    <button type="button" class="button button--regular button--blue"
        onclick="window.wfpNotification.add({'content': 'Lorem ipsum dolor sit amet, consecttur adipscing elit.', 'color': 'blue', 'position': 'right'});">
        Right (regular)
    </button>
    <button type="button" class="button button--regular button--red"
        onclick="window.wfpNotification.add({'content': 'Lorem ipsum dolor sit amet, consecttur adipscing elit.', 'color': 'red', 'position': 'left', 'size': 'small'});">
        Left (small)
    </button>
    <button type="button" class="button button--regular button--green"
        onclick="window.wfpNotification.add({'content': 'Lorem ipsum dolor sit amet, consecttur adipscing elit.', 'color': 'green', 'position': 'center', 'size': 'extra-big'});">
        Center (big)
    </button>
    <button type="button" class="button button--regular button--orange"
        onclick="window.wfpNotification.add({'content': 'Lorem ipsum dolor sit amet, consecttur adipscing elit.', 'color': 'orange', 'position': 'left', 'place': '#notification_place', 'size': 'extra-small'});">
        Pointing Place by target (extra small)
    </button>
</div>
<div id="notification_place" class="row">
</div>
<div class="notification">
    {% for color in arrColor %}
    <div class="notification__item notification--regular notification--{{color}}">
        <span class="notification__text">{{color}}</span>
        <button type="button" class="button button--small button--small--proportional button--transparent"
            aria-label="close">
            <svg class="icon icon--small rotate-45">
                <use xlink:href="./assets/{{version}}/img/icon.svg#plus"></use>
            </svg>
        </button>
    </div>
    {% endfor %}
</div>
{% include "include/footer.html" %}