@each $color in $arrColor {
  .color-#{$color} {
    color: color-regular(#{$color});
  }

  .bg-#{$color} {
    background-color: color-regular(#{$color});
  }
}

.grid {
  min-height: 100%;
  height: 100%;
  display: grid;

  @media (min-width: $break-point-es) {
    grid-template:
      "grid-header grid-header" min-content
      "grid-menu grid-menu" min-content
      "grid-content grid-content" auto
      "grid-footer grid-footer" min-content
      / auto;
  }

  @media (min-width: $break-point-bi) {
    grid-template:
      "grid-header grid-header" min-content
      "grid-menu grid-content" auto
      "grid-footer grid-footer" min-content
      / 250px auto;
  }
}

.grid-header {
  grid-area: grid-header;
}

.grid-menu {
  grid-area: grid-menu;
}

.grid-content {
  grid-area: grid-content;
}

.grid-footer {
  grid-area: grid-footer;
}

#header {
  border-bottom: 1px solid;
}

#footer {
  border-top: 1px solid;
}

#header,
#footer {
  display: block;
  background-color: $color-grey-lighten-3;
  padding: $re;
  text-align: right;
  border-color: $color-grey-lighten-2;

  .about {
    margin: 0 $sm;
    font-size: $font-sm;
  }
}

#main_wrapper {
  @media (min-width: $break-point-es) {
    height: auto;
  }

  @media (min-width: $break-point-bi) {
    height: 100%;
  }
}

#main_menu,
#main_content {
  padding: $re;
}

#main_menu {
  background-color: $color-grey-lighten-4;
  text-transform: capitalize;

  @media (min-width: $break-point-bi) {
    border-right: 1px solid $color-grey-lighten-3;
  }

  .menu {
    li {
      width: 100%;
    }
  }

  .active {
    box-shadow: none;
  }
}

.page-title {
  font-family: $font-family-thin;
  text-align: center;
  color: $color-grey;
  width: 100%;
}
