.carousel {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: z-index("carousel");

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        transition: $transition;
    }

    &__item {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    &__controller {
        position: relative;
        width: 100%;

        .button {
            border-radius: 50%;
            margin: 0 $small;
        }

        &--over {
            bottom: 40px;
            position: absolute;
            z-index: z-index("carousel-controller");
        }
    }

    &__controller-button {
        border-color: transparent;
        border-radius: 50%;
        opacity: 0.5;

        &--active {
            opacity: 1;
        }
    }

    @each $color in $arrColorCarousel {
        &--#{'' + $color + ''} {
            .carousel__controller-button {
                background-color: color-regular(#{$color});
            }

            .navigation-change .button .icon {
                fill: color-regular(#{$color});
            }
        }
    }
}