.scrollbar {
    &::-webkit-scrollbar {
        height: $regular;
        width: $regular;
    }
}

@each $color in $arrColorScroll {
    .scrollbar--#{'' + $color + ''} {
        scrollbar-color: color-regular(#{$color}) color-extra-light(#{$color});

        &::-webkit-scrollbar-corner,
        &::-webkit-scrollbar {
            background-color: color-light(#{$color});
        }

        &::-webkit-scrollbar-thumb {
            background-color: color-regular(#{$color});
        }
    }
}