.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;

  .carousel-list {
    position: relative;
    list-style: none;
    transition: $transition;
    will-change: auto;

    li {
      position: relative;
      float: left;
    }
  }

  .carousel-controller {
    position: relative;
    display: inline-table;

    .carousel-controller-bt {
      opacity: 0.3;

      &.active {
        opacity: 0.8;
      }
    }
  }

  .menu-horizontal {
    text-align: center;
    width: 100%;
  }

  .carousel-controller-over {
    bottom: 0;
    position: absolute;
  }

  .carousel-controller-bt {
    span {
      color: $color-white;
    }
  }

  .carousel-controller-black {
    span {
      color: $color-black !important;
    }
  }
}

.carousel-controller,
.navigation-arrow {
  span {
    font-size: 40px !important;
  }
}
