.icon-es {
    width: $es;
    height: $es;
}

.icon-sm {
    width: $sm;
    height: $sm;
}

.icon-re {
    width: $re;
    height: $re;
}

.icon-bi {
    width: $bi;
    height: $bi;
}

.icon-eb {
    width: $eb;
    height: $eb;
}