{% from 'shared/template-nunjucks.html' import arrSize, arrColor %}
{% include "shared/head.html" %}
<h1 class="page-title">
    Form
</h1>
<div class="row padding-bi">
    {% for color in arrColor %}
    <div class="col-es-12 col-re-6">
        <form class="row form form-{{color}}">
            <div class="col-es-12 form-field">
                <label>Number</label>
                <input type="number" value="0" aria-label="number" />
            </div>
            <div class="col-es-12 form-field">
                <label>Color</label>
                <input type="color" aria-label="color" />
            </div>
            <div class="col-es-12 form-field">
                <label>Text Required</label>
                <input type="text" value="" required aria-label="text required" />
            </div>
            <div class="col-es-12 col-bi-6 form-field">
                <label>Mask CPF</label>
                <input type="text" value="" aria-label="cpf" data-mask="cpf" placeholder="000.000.00-00" />
            </div>
            <div class="col-es-12 col-bi-6 form-field">
                <label>Mask CNPJ</label>
                <input type="text" value="" aria-label="cnpj" data-mask="cnpj" placeholder="00.000.000/0000-00" />
            </div>
            <div class="col-es-12 col-bi-6 form-field">
                <label>Mask Phone</label>
                <input type="text" value="" aria-label="phone" data-mask="phone" placeholder="(00) 00000-0000" />
            </div>
            <div class="col-es-12 col-bi-6 form-field">
                <label>Mask CEP</label>
                <input type="text" value="" aria-label="cep" data-mask="cep" placeholder="00000-000" />
            </div>
            <div class="col-es-12 col-bi-6 form-field">
                <label>Mask PIS</label>
                <input type="text" value="" aria-label="pis" data-mask="pis" placeholder="000.00000.00-0" />
            </div>
            <div class="col-es-12 col-bi-6 form-field">
                <label>Date</label>
                <input type="text" value="" aria-label="date" data-mask="date" placeholder="dd/mm/yyyy" />
            </div>
            <div class="col-es-12 form-field">
                <label>Text Menu Hover</label>
                <input type="text" value="" aria-label="text" />
                <nav class="menu menu-horizontal text-center menu-hover-field">
                    <ul>
                        <li>
                            <button type="button" class="bt bt-sm bt-green" aria-label="add">
                                <svg class="icon icon-re">
                                    <use xlink:href="./assets/img/icon.svg#plus"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="bt bt-sm bt-red" aria-label="remove">
                                <svg class="icon icon-re">
                                    <use xlink:href="./assets/img/icon.svg#minus"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-es-12 form-field">
                <label>Select</label>
                <select aria-label="select">
                    <option value="0">option 0</option>
                    <option value="1">option 1</option>
                    <option value="2">option 2</option>
                    <option value="3">option 3</option>
                    <option value="4">option 4</option>
                </select>
            </div>
            <div class="col-es-12 form-field">
                <div class="radio" tabindex="0">
                    <input id="radio1{{color}}" name="radio" type="radio" tabindex="-1" checked="checked">
                    <label for="radio1{{color}}" class="radio-label">Checked</label>
                </div>
                <div class="radio" tabindex="0">
                    <input id="radio2{{color}}" name="radio" type="radio" tabindex="-1">
                    <label for="radio2{{color}}" class="radio-label">Unchecked</label>
                </div>
                <div class="radio">
                    <input id="radio3{{color}}" name="radio" type="radio" tabindex="-1" disabled>
                    <label for="radio3{{color}}" class="radio-label">Disabled</label>
                </div>
            </div>
            <div class="col-es-12 form-field">
                <div class="checkbox" tabindex="0">
                    <input id="checkbox1{{color}}" name="checkbox" type="checkbox" checked="checked" tabindex="-1">
                    <label for="checkbox1{{color}}" class="checkbox-label">Checked</label>
                </div>
                <div class="checkbox" tabindex="0">
                    <input id="checkbox2{{color}}" name="checkbox" type="checkbox" tabindex="-1">
                    <label for="checkbox2{{color}}" class="checkbox-label">Unchecked</label>
                </div>
                <div class="checkbox">
                    <input id="checkbox3{{color}}" name="checkbox" type="checkbox" disabled="disabled" tabindex="-1">
                    <label for="checkbox3{{color}}" class="checkbox-label">Disabled</label>
                </div>
                <div class="checkbox">
                    <input id="checkbox4{{color}}" name="checkbox" type="checkbox" disabled="disabled" checked="checked"
                        tabindex="-1">
                    <label for="checkbox4{{color}}" class="checkbox-label">Disabled</label>
                </div>
            </div>
            <div class="col-es-12 form-field">
                <label>E-mail</label>
                <input type="email" value="email@email.com" aria-label="e-mail" />
            </div>
            <div class="col-es-6 form-field">
                <label>Textarea</label>
                <textarea aria-label="textarea"></textarea>
            </div>
            <div class="col-es-6 form-field">
                <label>Multiple</label>
                <select multiple="" aria-label="multiple">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-es-12 form-field">
                <label>Disabled</label>
                <input type="text" value="disabled" disabled aria-label="text disabled" />
            </div>
            <div class="col-es-12 form-field">
                <label>File</label>
                <input class="custom-file-input" type="file">
            </div>
            <div class="col-es-12 form-field">
                <div class="input-switch" tabindex="0">
                    <input type="checkbox" id="checkboxSwitch1{{color}}" value="1" checked>
                    <label for="checkboxSwitch1{{color}}">Checkbox</label>
                </div>
                <div class="input-switch" tabindex="0">
                    <input type="checkbox" id="checkboxSwitch2{{color}}" value="2">
                    <label for="checkboxSwitch2{{color}}">Checkbox</label>
                </div>
                <div class="input-switch" tabindex="0">
                    <input type="checkbox" id="checkboxSwitch3{{color}}" value="3" checked>
                    <label for="checkboxSwitch3{{color}}">Checkbox</label>
                </div>
            </div>
            <div class="col-es-12 form-field">
                <div class="input-switch" tabindex="0">
                    <input type="radio" name="radio_switch" id="radioSwitch1{{color}}" value="1" checked>
                    <label for="radioSwitch1{{color}}">Radio Label 1</label>
                </div>
                <div class="input-switch" tabindex="0">
                    <input type="radio" name="radio_switch" id="radioSwitch2{{color}}" value="2">
                    <label for="radioSwitch2{{color}}">Radio Label 2</label>
                </div>
                <div class="input-switch" tabindex="0">
                    <input type="radio" name="radio_switch" id="radioSwitch3{{color}}" value="3" checked>
                    <label for="radioSwitch3{{color}}">Radio Label 3</label>
                </div>
            </div>
        </form>
    </div>
    {% endfor %}
</div>
{% include "shared/footer.html" %}