{% include "shared/head.html" %}
<h1 class="page-title">
    Gallery
</h1>
<div class="row padding-re gallery">
    <div class="col-es-12 col-re-3">
        <a href="assets/img/banner/1.png">
            <img src="assets/img/banner/1.png" class="img-responsive" title="" alt="Lorem ipsum" data-description="Lorem ipsum dolor sit dictuquam ullamcorperat."/>
        </a>
    </div>
    <div class="col-es-12 col-re-6">
        <a href="assets/img/banner/2.png">
            <img src="assets/img/banner/2.png" class="img-responsive" title="" alt="Dolor sit" data-description="Lorem ipsum dolor sit amet, consecttur adipscing elit. Proin ut ni diam. Nam ini pretium ligulas. Integersda dapibusa id quam non prium! Suspendisse sodalesa efficiturd nullsa, eta elementumds dui consequat eu. Curabituras interd augue, at dictuquam ullamcorperat."/>
        </a>
    </div>
    <div class="col-es-12 col-re-3">
        <a href="assets/img/banner/1.png">
            <img src="assets/img/banner/1.png" class="img-responsive" title="" alt="Consecttur adipscing"/>
        </a>
    </div>
</div>
{% include "shared/footer.html" %}