{% from 'shared/template-nunjucks.html' import arrSize, arrColor %}
{% include "shared/head.html" %}

<h1 class="page-title">
    Loading
</h1>
<div class="row text-center">
    <div class="col-es-12">
        {% for i in arrColor %}
        <div class="loading-1 loading-1-{{i}}"></div>
        {% endfor %}
    </div>
    <div class="col-es-12">
        {% for i in arrColor %}
        <div class="loading-2 loading-2-{{i}}"></div>
        {% endfor %}
    </div>
    <div class="col-es-12">
        {% for i in arrColor %}
        <div class="loading-3 loading-3-{{i}}"></div>
        {% endfor %}
    </div>
    <div class="col-es-12">
        {% for i in arrColor %}
        <div class="loading-4 loading-4-{{i}}"></div>
        {% endfor %}
    </div>
    <div class="col-es-12">
        {% for i in arrColor %}
        <div class="loading-5 loading-5-{{i}}"></div>
        {% endfor %}
    </div>
    <div class="col-es-12">
        {% for i in arrColor %}
        <div class="loading-6 loading-6-{{i}}"></div>
        {% endfor %}
    </div>
</div>
{% include "shared/footer.html" %}