{% include "shared/head.html" %}

<h1 class="page-title">
    Modal
</h1>
<div class="row">
    <div class="col-es-12 text-center">
        <nav class="menu menu-horizontal">
            <ul>
                <li>
                    <button type="button" class="bt bt-re bt-fu bt-blue"
                        onclick="objWfModal.buildModal('ajax', './modal-ajax.html');">
                        Modal
                    </button>
                </li>
                <li>
                    <button type="button" class="bt bt-re bt-fu bt-blue" onclick="
                                objWfModal.buildModal('confirmation', 'Lorem ipsum dolor sit amet, consecttur adipscing elit?');
                                objWfModal.buildContentConfirmationAction('console.log(this)');
                                ">
                        Confirmation
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% include "shared/footer.html" %}