{% from 'shared/template-nunjucks.html' import arrSize, arrColor %}
{% include "shared/head.html" %}
<h1 class="page-title">
    Notification
</h1>
<div class="row">
    <div class="test col-es-12">
        <nav class="menu menu-horizontal text-center">
            <ul>
                <li>
                    <button type="button" class="bt bt-re bt-re bt-blue"
                        onclick="objWfNotification.add('Lorem ipsum dolor sit amet, consecttur adipscing elit.', 'red');">
                        Default Place
                    </button>
                </li>
                <li>
                    <button type="button" class="bt bt-re bt-re bt-blue"
                        onclick="objWfNotification.add('Lorem ipsum dolor sit amet, consecttur adipscing elit.', 'black', '#pageNotificationPlace div');">
                        Pointing Place
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div id="pageNotificationPlace" class="row">
    <div class="col-es-12">
    </div>
</div>
<div class="row">
    <div class="col-es-12">
        <ul class="notify-list">
            {% for color in arrColor %}
            <li>
                <div class="notify-item notify-{{color}}">
                    <span class="text">
                        {{color}}
                    </span>
                    <button type="button" class="bt" aria-label="close">
                        <svg class="icon icon-re rotate-45">
                            <use xlink:href="./assets/img/icon.svg#plus"></use>
                        </svg>
                    </button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% include "shared/footer.html" %}