{% from 'shared/template-nunjucks.html' import arrSize, arrColor %}
{% set arrPosition = ['top', 'right', 'bottom', 'left'] %}
{% include "shared/head.html" %}

<h1 class="page-title">
    Tooltip
</h1>
<div class="row">
    {% for color in arrColor %}
    <div class="col-es-12 text-center">
        <nav class="menu menu-horizontal">
            <ul>
                {% for position in arrPosition %}
                <li>
                    <a href="javascript:;" class="link link-{{color}}"
                        title="Lorem <strong class='color-red'>ipsum</strong> dolor sit amet, consecttur adipscing elit. <img src='assets/img/banner/1.png' style='width: 100px; height: auto; padding: 10px;'>"
                        alt="" data-tooltip="true" data-tooltip-placement="{{position}}" data-tooltip-color="{{color}}">
                        {{color}} - ({{position}})
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    {% endfor %}
</div>

{% include "shared/footer.html" %}