<div class="row">
    <div class="col-es-2 text-left">
        <a href="index.html" class="bt bt-re bt-grey" aria-label="home">
            <svg class="icon icon-bi">
                <use xlink:href="./assets/img/icon.svg#home"></use>
            </svg>
        </a>
    </div>
    <div class="col-es-10 text-right">
        <nav class="menu menu-horizontal">
            <ul>
                <li>
                    <span class="about mobile-hide">v: 1.0.0</span>
                </li>
                <li>
                    <a href="https://github.com/winterjeferson/winter-front" target="_blank" rel="noopener"
                        class="bt bt-re bt-green">
                        Download (Github)
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>